




/* فونت ایران یکان */
@font-face {
    font-family: 'IRANYekanMedium';
    src:
            url('Fonts/IRANYekanWebRegular.woff') format('woff'),
            url('Fonts/IRANYekanWebMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* فونت ایران سنس */
@font-face {
    font-family: 'IRANSansX-Medium';
    src:
            url('Fonts/IRANSansX-Medium.woff') format('woff');
    font-weight: normal; /* یا 600 */
    font-style: normal;
}


body {
    font-family: 'IRANYekanMedium' , 'IRANSansX-Medium', sans-serif;
    direction: rtl;
    text-align: right;
}